
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$imgPath : "/images";

$text-light: #ffffff;
$text-lightgrey: #e0e1e1;
$text-grey: #d8d8d8;
$text-dark: #737373;
$text-focus: #0da1ed;
$text-highlight: #dbfcdc;

$bg-headline: #737373;
$bg-dark: #3c3c3c;
$bg-darkmore: #313131;
$bg-light: #ffffff;
$bg-lightgrey: #f4f6f7;
$bg-grey: #f2f2f2;
$bg-focus: #0077b4;
$bg-highlight: #3ca23f;
$bg-danger: #980707;

$partial-slider-height: 580px;


@mixin triangle-down ($width, $color) {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
}

@mixin triangle-up ($width, $color) {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
}

@mixin btn-color($type, $textcolor, $bgcolor) {
    .btn.btn-#{$type} {
        color: $textcolor;
        background: $bgcolor;
        border-color: $bgcolor;
    }
}

@mixin link-color($color) {
    a, a:hover, a:visited, a:focus {color: $color;}
}

@mixin icon-check($color, $size, $thikness) {
    display: inline-block;
    width: $size; height: $size;
    position: relative;
    border-radius: 200%;
    border: solid $thikness $color;
    &:before {
      content: "";
      display: inline-block;
      width: 60%; height: 20%;
      transform: translate(-50%, -50%) rotate(-45deg);
      border-left: solid $thikness $color;
      border-bottom: solid $thikness $color;
      position: absolute;
      left: 50%;
      top: 50%;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($v) {
    -webkit-box-shadow: $v;
    -moz-box-shadow: $v;
    box-shadow: $v;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder{color: $color;}
  &:-moz-placeholder{color: $color;}
  &::-moz-placeholder{color: $color;}
  &:-ms-input-placeholder{color: $color;}
}

@mixin transition($rule...) {
    -webkit-transition: $rule;
    -moz-transition: $rule;
    -o-transition: $rule;
    transition: $rule;
}

@mixin animation($anim...) {
    -webkit-animation: $anim;
    animation: $anim;
}

@mixin absolute-center() {
    position: absolute;
    left: 50%;
    top: 50%;

     -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); 
          transform: translate(-50%, -50%);
}

@mixin opacity($v) {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $v*100 + ")";
  filter: alpha(opacity=$v * 100);
  -moz-opacity: $v;
  -khtml-opacity: $v;
  opacity: $v;
}

@mixin text-ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin text-shadow($v...) {
    text-shadow: $v;
}

@mixin button-style($color) {
  &, &.focus, &.active, &:focus {
    &, &:focus, &:active {
      color: #fff;
      outline: none;
      background: $color;
      border-color: $color;
      @include transition(all 250ms linear);

      &:hover {
        outline: none;
        background: lighten( $color, 5% );
        border-color: lighten( $color, 5% );
      }
    }
  }
}

@mixin round-ball($color, $bg-color, $border-color, $size) {
  padding: 0;
  text-align: center;
  background-color: $bg-color;
  width: $size; height: $size;
  line-height: $size;
  border-radius: 200%;
  border: solid 1px $border-color;
  color: $color;
}

@import 'keyframes';