@import 'nav';

body, p, h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

.logo img.img-responsive {
    height: 30px;
}

h2 {font-size: 40px; text-align: center; margin: 40px 0;}
h2, .subheading {text-align: center;}
.subheading {margin-bottom: 80px;}
h2.with-subheading {margin-bottom: 20px;}

h3 {font-size: 30px; margin: 30px 0;}
h5 {font-size: 20px;}
body, p {font-size: 16px;}

p a, label a { text-decoration: underline; }

body {
  &.type-simple {
    background-color: $bg-dark;
    .logo {height: 30px;}
    .bottom-deco {
      position: fixed; width: 100%; height: 125px;
      left: 0; bottom: 0;
      background: url(#{$imgPath}/pages/banner-sepa.png) transparent no-repeat center bottom;
      background-size: 100% 100%;
    }
  }
}

.page-signup {
  background-image: url(#{$imgPath}/pages/banner-signup.png);
  background-size: cover;
  padding-bottom: 90px;
}


.block {position: relative;}

.block-inner {
  padding: 40px 0 80px 0;
}

.block-banner {
  color: #fff;
  background-color: #0da1ed;
  margin-top: -72px;
  padding-top: 80px;
  h2 {margin-bottom: 16px;}
  
  .block-inner {
    padding: 80px 0 120px 0;
    background: url(#{$imgPath}/pages/banner-sepa.png) transparent no-repeat center bottom;
    background-size: 100% 124px;
  }

  .seller-profile & {
    background-image: url(#{$imgPath}/pages/banner-profile.png);
    background-size: cover;
  }

}

.block-heading {
  color: $text-light;
  background: $bg-headline;
  &::before {
    position: absolute;
    content: '';
    left: 50%; top: -50px; transform: translateX(-50%);
    @include triangle-down (30px, $text-focus);
  }
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-headline);
    z-index: 10;
  }
  p {text-align: center;}
  .block-inner {padding-left: 20%; padding-right: 20%; padding-top: 20px;}
}

.block-focus {
  color: $text-light;
  background: $bg-focus;
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-focus);
    z-index: 10;
  }
}

.block-white {
  color: $text-dark;
  background: $bg-light;
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-light);
    z-index: 10;
  }
  h2 {color: $text-focus;}
}

.block-highlight {
  color: $text-light;
  background: $bg-highlight;
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-highlight);
    z-index: 10;
  }

  input.fancy, textarea.fancy {
    color: $text-light;
    &::-webkit-input-placeholder {
      color: $text-highlight;
    }
  }

  @include btn-color('primary', $text-focus, $bg-light);
  @include link-color($text-light);

}

.block.no-triangle {
  &::before, &::after {display: none;}
}


.block-metrics {
  &::before {
    position: absolute;
    content: '';
    left: 50%; bottom: 0px; transform: translateX(-50%);
    @include triangle-up (20px, $bg-dark);
    z-index: 5;
  }
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-dark);
    z-index: 10;
  }
  .block-inner {padding: 0;}
  .metrics-col {
    color: $text-light;
    background: $bg-dark;
    padding: 60px 0 80px 0;
    .metrics-inner {
      padding-left: 40%;
      h2 {text-align: left; margin-bottom: 0px;}
    }
  }

  .slide-col {
    padding: 80px 0px 50px 20px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fffcfc+87,f6f8f9+93,f6f8f9+100 */
    background: $bg-light; /* Old browsers */
    background: -moz-linear-gradient(top, $bg-light 0%, $bg-light calc(100% - 81px), $bg-grey calc(100% - 80px), $bg-light calc(100% - 78px), $bg-lightgrey 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $bg-light 0%, $bg-light calc(100% - 81px), $bg-grey calc(100% - 80px), $bg-light calc(100% - 78px), $bg-lightgrey 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $bg-light 0%, $bg-light calc(100% - 81px), $bg-grey calc(100% - 80px), $bg-light calc(100% - 78px), $bg-lightgrey 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg-light', endColorstr='$bg-lightgrey',GradientType=0 ); /* IE6-9 */
  }
}

.fancy-slider {
  .slick-list {height: $partial-slider-height;}
  .slide-item img {height: $partial-slider-height; width: 100%; object-fit: cover; display: none;}
  .slide-item.slick-slide img {display: block;}
  .slick-prev, .slick-next {
    width: 30px; height: 30px;
    top: auto; bottom: -70px; left: 0;
    z-index: 5;
    &:before {display: none;}
  }
  .slick-prev {
    &, &:hover, &:focus {background: url(#{$imgPath}/icons/slider-back.png) no-repeat;}
  }
  .slick-next {
    &, &:hover, &:focus {background: url(#{$imgPath}/icons/slider-next.png) no-repeat; left: 50px;}
  }
  .slick-dots {
    bottom: -55px; z-index: 1;
    li button {
      width: 10px; height: 10px; background-color: $text-lightgrey; border-radius: 100px;
      &:before {display: none;}
    }
    li.slick-active button {background-color: $text-focus;}
  } 
}


.dark-theme {
  color: $text-light;
  a, a:visited, a:hover, a:active {
    color: $text-light;
  }

  form {
    .invalid-feedback {
      text-align: left; color: #f15f5b;
      strong {font-weight: normal; font-style: italic;}
    }
  }
}

input.fancy, textarea.fancy {
  padding: 0;
  background: none;
  display: block;
  width: 100%;
  border: none; border-radius: 0;
  border-bottom: solid 1px $text-light;
  line-height: 2em;
  margin-top: 15px;
  &:focus {outline: none; background: none; box-shadow: none;}

  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus
  &:-webkit-autofill,
  &:-webkit-autofill:hover
  &:-webkit-autofill:focus {
    background: none !important;
    -webkit-box-shadow: none !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  .dark-theme & {
    color: $text-light;
    border-color: $bg-light;

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus
    &:-webkit-autofill,
    &:-webkit-autofill:hover
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $yellow;
    }

  }
}

.cr-icon-checked {}
.checkbox {
  .cr {
    position: relative;
    display: inline-block;
    border: 1px solid $text-light;
    border-radius: 3px;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    margin-top: 1px;

    .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 15%;
    }

  }

  label {
    cursor: pointer;
    &::after {
      content: '';
      display: table;
      clear: both;
    }

    input[type="checkbox"] {
      display: none;
      &+.cr>.cr-icon {
        opacity: 0;
      }
      &:checked+.cr>.cr-icon {
        opacity: 1;
      }
      &:disabled+.cr {
        opacity: .5;
      }
    }

  }
}


.btn {
  border-radius: 500px;
  border: solid 1px;
  padding: 8px 35px;
  font-size: 16px;

  &:focus, &.focus {
    outline: none;
    box-shadow: none;
  }

  &.btn-primary {
    color: $text-light;
    background-color: $blue;
    border-color: $blue;
  }

  &.btn-highlight {
    color: $text-light;
    background-color: $bg-highlight;
    border-color: $bg-highlight;
  }

  &.btn-wide {padding-left: 50px; padding-right: 50px;}
}

.btn-group {
  .btn {border-radius: 5px; padding-top: 10px; padding-bottom: 10px;}
  &.btn-twin-group {
    display: flex;
    .btn {
      width: 50%;
    }
  }
}

.btn-group.highlight .btn {
  color: $bg-highlight;
  background: $bg-light;
  border-color: $bg-light;
  &.active {
    color: $text-light;
    background: $bg-highlight;
    border-color: $bg-highlight;
  }

  &, &.focus, &.active {box-shadow: none;}
}

form {
  .shoes {margin-top: 30px;}
}


ul.file-list {
  list-style: none;
  padding: 0;
  > li {
    padding: 5px 10px;
    background: url(#{$imgPath}/icons/attached.png) no-repeat left center;
  }
}



@media(max-height:900px)
{
  .type-simple {
    h2 {font-size: 36px;}
  }

  .block-signup {
    .block-inner {
      padding-top: 0;
      h2 {margin-top: 20px;}
    }
  }
} 

