@import 'nav';

body, p, h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

.logo img.img-responsive {
    height: 30px;
}

h2 {font-size: 40px; text-align: center; margin: 40px 0;}
h2, .subheading {text-align: center;}
.subheading {margin-bottom: 80px;}
h2.with-subheading {margin-bottom: 20px;}

h3 {font-size: 30px; margin: 30px 0;}
h5 {font-size: 20px;}
body, p {font-size: 16px;}

p a, label a { text-decoration: underline; }

body {
  &.type-simple {
    background-color: $bg-dark;
    .logo {height: 30px;}
    .bottom-deco {
      position: fixed; width: 100%; height: 125px;
      left: 0; bottom: 0;
      background: url(#{$imgPath}/pages/banner-sepa.png) transparent no-repeat center bottom;
      background-size: 100% 100%;
    }
  }
}

.page-signup {
  background-image: url(#{$imgPath}/pages/banner-signup.png);
  background-size: cover;
  padding-bottom: 90px;
}


.block {position: relative;}

.block-inner {
  padding: 40px 0 80px 0;
}

.block-banner {
  color: #fff;
  background-color: #0da1ed;
  margin-top: -72px;
  padding-top: 80px;
  h2 {margin-bottom: 16px;}
  
  .block-inner {
    padding: 80px 0 120px 0;
    background: url(#{$imgPath}/pages/banner-sepa.png) transparent no-repeat center bottom;
    background-size: 100% 124px;
  }

  .seller-profile & {
    background-image: url(#{$imgPath}/pages/banner-profile.png);
    background-size: cover;
  }
  .seller-profile-edit & {
    background-image: url(#{$imgPath}/pages/banner-edit-seller.png);
    background-size: cover;
  }

}

.block-grey {
  color: $text-light;
  background: $bg-headline;
}

.block-heading {
  color: $text-light;
  background: $bg-headline;
  &::before {
    position: absolute;
    content: '';
    left: 50%; top: -50px; transform: translateX(-50%);
    @include triangle-down (30px, $text-focus);
  }
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-headline);
    z-index: 10;
  }
  &.info-block .block-inner {padding-left: 20%; padding-right: 20%; padding-top: 20px;}
}

.block-focus {
  color: $text-light;
  background: $bg-focus;
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-focus);
    z-index: 10;
  }
}

.block-white {
  color: $text-dark;
  background: $bg-light;
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-light);
    z-index: 10;
  }
  h2 {color: $text-focus;}
}

.block-highlight {
  color: $text-light;
  background: $bg-highlight;
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-highlight);
    z-index: 10;
  }

  @include btn-color('primary', $text-focus, $bg-light);
  @include link-color($text-light);

}

.block.no-triangle {
  &::before, &::after {display: none;}
}

.block-dark {background: $bg-dark; color: $text-light;}
.block-metrics {
  background: $bg-dark;
  &::before {
    position: absolute;
    content: '';
    left: 50%; bottom: 0px; transform: translateX(-50%);
    @include triangle-up (20px, $bg-dark);
    z-index: 5;
  }
  &::after {
    position: absolute;
    content: '';
    left: 50%; bottom: -20px; transform: translateX(-50%);
    @include triangle-down (20px, $bg-dark);
    z-index: 10;
  }
  &.info-block .block-inner {padding: 0;}
  .metrics-col {
    padding: 60px 0 80px 0;
    .metrics-inner {
      padding-left: 40%;
      h2 {text-align: left; margin-bottom: 0px;}
    }
  }

  .slide-col {
    padding: 80px 0px 50px 20px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fffcfc+87,f6f8f9+93,f6f8f9+100 */
    background: $bg-light; /* Old browsers */
    background: -moz-linear-gradient(top, $bg-light 0%, $bg-light calc(100% - 81px), $bg-grey calc(100% - 80px), $bg-light calc(100% - 78px), $bg-lightgrey 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $bg-light 0%, $bg-light calc(100% - 81px), $bg-grey calc(100% - 80px), $bg-light calc(100% - 78px), $bg-lightgrey 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $bg-light 0%, $bg-light calc(100% - 81px), $bg-grey calc(100% - 80px), $bg-light calc(100% - 78px), $bg-lightgrey 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg-light', endColorstr='$bg-lightgrey',GradientType=0 ); /* IE6-9 */
  }
}

.dark-theme {
  color: $text-light;
  a, a:visited, a:hover, a:active {
    color: $text-light;
  }

  form {
    .invalid-feedback {
      text-align: left; color: #f15f5b;
      strong {font-weight: normal; font-style: italic;}
    }
  }
}

.dz-clickable {cursor: pointer;}
.dz-preview  {display: none;}

.dz-area {
  .dz-inner {
    pointer-events: none;
    padding-top: 20px;
    border-style: dashed;
    border-width: 1px;
    border-radius: 5px;
  }
  p {margin-top: 20px;}
}

.thumb-list {
  list-style: none; padding: 0;
  display: flex;
  justify-content: space-between;
  .item {
    position: relative;
    cursor: pointer;
    display: inline-block;

    &.filled {
      label { @include opacity(0); }
      /* &:hover label { @include opacity(0.5); } */
    }

    &:hover {
      .frame {
        /* border-color: $text-grey; */
      }
      &.filled a.command {
        visibility: visible;
        @include opacity(1);
      }
    }

    &.active {
      .frame {
        border-color: $text-grey;
      }

    }

    a.command {
      border-radius: 200%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      background: $text-grey;
      color: $text-dark;
      text-align: center;
      position: absolute;
      z-index: 5;
      display: block;

      visibility: hidden;
      @include opacity(0);
      @include transition(all 250ms linear);

      &.item-del {
        color: $text-light;
        background: #da8986;
        bottom: -10px; right: -10px;
      }
      &.item-zoomin {
        left: -10px; top: -10px;
      }
    }

  }

  .frame {
    padding: 2px;
    border: solid 2px #8e8d8d;
    position:relative; border-radius: 5px;
    overflow: hidden;
    background: $bg-headline;
    .img-showing {
      border-radius: 3px;
      width: 60px; height: 60px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      overflow: hidden;
    }
    
    label {
      pointer-events: none;
      position: absolute;
      left: 2px; right: 2px; top: 2px; bottom: 2px;
      background-color: $text-grey;
      color: $text-dark;
      margin: 0; padding: 0;
      line-height: 60px;

      @include opacity(1);
      @include transition(all 250ms linear);
    }
  }
}


@media(max-height:900px)
{
  .type-simple {
    h2 {font-size: 36px;}
  }

  .block-signup {
    .block-inner {
      padding-top: 0;
      h2 {margin-top: 20px;}
    }
  }
} 


